<h1>Sales Projection Details</h1>

<div class="row">
  <div  class="col-md-12" >
    <label for="date"><b>Select Sale by Date</b></label>
    <select [(ngModel)]="saleDateSelected" (ngModelChange)="saleDataByDate()">  
        <option disabled selected>-- Please select date --</option>
        <option *ngFor="let saleDate of salesDates">{{saleDate}}</option>  
    </select>
    </div>
</div>
<br><br>

<div class="row" *ngIf="saleDateSelected">
  <div class="col-md-12">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [results]="data"
      [xScaleMin] = "xScaleMin"
      [xScaleMax] = "xScaleMax"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
</ngx-charts-line-chart>
  </div>
</div>






